<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.BizQuoteMapper">
    
    <resultMap type="BizQuote" id="BizQuoteResult">
        <result property="id"    column="id"    />
        <result property="customerPo"    column="customer_po"    />
        <result property="products"    column="products"    />
        <result property="subtotal"    column="subtotal"    />
        <result property="tax"    column="tax"    />
        <result property="total"    column="total"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizQuoteVo">
        select id, customer_po, products, subtotal, tax, total, create_by, create_time, update_by, update_time from biz_quote
    </sql>

    <select id="selectBizQuoteList" parameterType="BizQuote" resultMap="BizQuoteResult">
        <include refid="selectBizQuoteVo"/>
        <where>  
            <if test="customerPo != null  and customerPo != ''"> and customer_po = #{customerPo}</if>
        </where>
    </select>
    
    <select id="selectBizQuoteById" parameterType="Long" resultMap="BizQuoteResult">
        <include refid="selectBizQuoteVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizQuote" parameterType="BizQuote" useGeneratedKeys="true" keyProperty="id">
        insert into biz_quote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerPo != null and customerPo != ''">customer_po,</if>
            <if test="products != null">products,</if>
            <if test="subtotal != null">subtotal,</if>
            <if test="tax != null">tax,</if>
            <if test="total != null">total,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerPo != null and customerPo != ''">#{customerPo},</if>
            <if test="products != null">#{products},</if>
            <if test="subtotal != null">#{subtotal},</if>
            <if test="tax != null">#{tax},</if>
            <if test="total != null">#{total},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizQuote" parameterType="BizQuote">
        update biz_quote
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerPo != null and customerPo != ''">customer_po = #{customerPo},</if>
            <if test="products != null">products = #{products},</if>
            <if test="subtotal != null">subtotal = #{subtotal},</if>
            <if test="tax != null">tax = #{tax},</if>
            <if test="total != null">total = #{total},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizQuoteById" parameterType="Long">
        delete from biz_quote where id = #{id}
    </delete>

    <delete id="deleteBizQuoteByIds" parameterType="String">
        delete from biz_quote where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>